<style>
select{
	margin-top:20px;
	width:275px;
	height:30px;
	padding:3px;
	text-align:center;
	font-size:14px;
	font-family:"微软雅黑";
	float:left;
	margin-right:10px;
	border:1px solid #CCC;}
</style>