<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.yue.artiprovider.mapper.ArticleMapper">
    <select id="getArticleByUserId" parameterType="int" resultMap="artiInfo">
        select arti_id,user_id,arti_title,arti_cont,watched_times,create_time,sign_city from article where user_id = #{userId}
    </select>

    <select id="getHotArtiInSingleUser" parameterType="int" resultMap="artiInfo">
        select arti_id,user_id,arti_title,arti_cont,watched_times,create_time,sign_city from article where user_id = #{user_id} order by watched_times limit 3
    </select>

    <select id="getArticleByArtiId" parameterType="int" resultMap="artiInfo">
        select arti_id,user_id,arti_title,arti_cont,watched_times,create_time,sign_city from article where arti_id = #{artiId}
    </select>

    <select id="getHotArti" resultMap="artiInfo">
        select * from article order by watched_times desc , arti_id limit 5;
    </select>

    <select id="checkIfCollect" parameterType="com.yue.artiprovider.entity.Followed_arti" resultType="int">
        select count(*) from followed_arti where arti_id = #{arti_id} and follow_user_id = #{login_user_id}
    </select>

    <select id="getMyCollect" parameterType="int" resultMap="followArtiInfo">
        select arti_id,follow_user_id from followed_arti where follow_user_id = #{login_user_id}
    </select>

    <select id="getArtiByLike" parameterType="String" resultMap="artiInfo">
        select * from article where arti_title like concat(concat('%',#{arti_title}),'%')
    </select>

    <insert id="submitArti" parameterType="com.yue.artiprovider.entity.Article">
        insert into article (user_id,arti_title,arti_cont,create_time,sign_city) values
        (#{user_id},#{arti_title},#{arti_cont},#{create_time},#{sign_city})
    </insert>

    <insert id="addFollowArti" parameterType="com.yue.artiprovider.entity.Followed_arti">
        insert into followed_arti(arti_id,follow_user_id) values (#{arti_id},#{login_user_id})
    </insert>

    <update id="modiArti" parameterType="com.yue.artiprovider.entity.Article">
        update article set arti_title = #{arti_title},arti_cont = #{arti_cont}
        where arti_id = #{arti_id}
    </update>

    <update id="update_watch_times" parameterType="com.yue.artiprovider.entity.Article">
        update article set watched_times = #{watched_times} where arti_id = #{arti_id}
    </update>

    <delete id="cancelFollowArti" parameterType="com.yue.artiprovider.entity.Followed_arti">
        delete from followed_arti where arti_id = #{arti_id} and follow_user_id = #{login_user_id}
    </delete>

    <delete id="delArti" parameterType="int">
        delete from article where arti_id = #{arti_id}
    </delete>

    <resultMap id="artiInfo" type="com.yue.artiprovider.entity.Article" autoMapping="true">
        <id column="arti_id" property="arti_id" javaType="int"></id>
        <result column="user_id" property="user_id" javaType="int"></result>
        <result column="arti_title" property="arti_title" javaType="String"></result>
        <result column="arti_cont" property="arti_cont" javaType="String"></result>
        <result column="watched_times" property="watched_times" javaType="int"></result>
        <result column="create_time" property="create_time"></result>
        <result column="sign_city" property="sign_city"></result>
    </resultMap>

    <resultMap id="followArtiInfo" type="com.yue.artiprovider.entity.Followed_arti" autoMapping="true">
        <result column="arti_id" property="arti_id" javaType="int"></result>
        <result column="follow_user_id" property="follow_user_id" javaType="int"></result>
    </resultMap>
</mapper>