<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="utf-8">
		<title>文章内容</title>
		<link rel="stylesheet" type="text/css" th:href="@{assets/bootstrap/css/bootstrap.min.css}">
		<link rel="stylesheet" th:href="@{assets/css/style.css}">
		<link rel="stylesheet" th:href="@{assets/source/city.css}">
		<script th:src="@{assets/js/jquery-1.11.1.min.js}"></script>
		<script th:src="@{assets/bootstrap/js/bootstrap.min.js}"></script>
		<script th:src="@{assets/source/city.js}"></script>
		<script th:inline="javascript">
		
			function getMyFollow() {
				window.location.href="/getMyFollow";
			}
		
			function getMyFollowed() {
				window.location.href="/getMyFollowed";
			}
		
			function getMyCollect() {
				window.location.href="/getMyCollect";
			}
			
			function getHotArti() {
				window.location.href="/getHotArti";
			}
			
			function userAction(){
				$("#searchFormHidden").attr("value","user");
				$("#searchForm").submit();
			}
			
			function artiAction(){
				$("#searchFormHidden").attr("value","arti");
				$("#searchForm").submit();
			}
			
			function submitAddForm(){
				$("#addForm").submit();
			}
			
			function getArticleByArtiId(artiId){
				window.location.href="/getArticleByArtiId?artiId="+artiId;
			}
			
			function getArticleByUserId(userId){
				window.location.href="/getArticleByUserId?userId="+userId;
			}
			
			function getReplyComment(commId){
				$.ajax({
					url: '/getReplyComment',
					data: {commId: commId},
					type: 'get',
					success: function(result){
						console.log(result);
						// $("#commPopovers").attr("data-content","
						//
						// ")
					}
				})
			}
		</script>
	</head>
	<body>
		<div class="container">
			<div th:include="htmlPage/pages/head/head::head"></div>
			<div class="media">
				  <div class="media-left">
					  <a th:href="@{'javascript:getArticleByUserId('+${artiUser.user_id}+');'}">
						  <img class="media-object" src="..." alt="暂无图片">
						  <span class="label label-default">author: [[${artiUser.user_name}]]</span>
					  </a>
				  </div>
				  <div class="media-body">
					<h4 class="media-heading">[[${arti.arti_title}]]</h4>
					<div class="dropdown">
					  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
						More
						<span class="caret"></span>
					  </button>
					  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
						<li><a href="#">分享</a></li>
	<!--					    <li><a href="#">收藏</a></li>-->
						<li role="separator" class="divider"></li>
						<li><a href="#">举报</a></li>
						<li>热度值： [[${arti.watched_times}]]</li>
					  </ul>
					</div>
					<span>[[${arti.arti_cont}]]</span>
					<div>创建时间： [[${arti.create_time}]]</div>
					<div>location： [[${arti.sign_city}]]</div>
					<div class="btn-group btn-group-justified" role="group" aria-label="...">
					  <div class="btn-group" role="group">
						<button type="button" class="btn btn-default">转发</button>
					  </div>
					  <div class="btn-group" role="group">
						<button type="button" class="btn btn-default">评论 &nbsp; [[${commCount}]]</button>
					  </div>
					  <div class="btn-group" role="group">
						<button type="button" class="btn btn-default">赞!</button>
					  </div>
					</div>
				</div>
			</div>
			<div th:include="htmlPage/pages/comment/comment::comment"></div>
		</div>
	</body>
</html>
